<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>username</key>
		<string>utuuOR6vFxME8C</string>
		<key>password</key>
		<string>R8F3wPZRSAHTV17ZFyf</string>
		<key>website</key>
		<string>https://www.google.com</string>
	</dict>
	<dict>
		<key>username</key>
		<string>ygr5cQ4FBKi6Qo</string>
		<key>password</key>
		<string>UctzEB5qUIBDpDR</string>
		<key>website</key>
		<string>https://www.youtube.com</string>
	</dict>
	<dict>
		<key>username</key>
		<string>phB50fT2LrXhypadGBC</string>
		<key>password</key>
		<string>1fBtRFdkR2jX6SPciiL</string>
		<key>website</key>
		<string>https://www.facebook.com</string>
	</dict>
	<dict>
		<key>username</key>
		<string>vf1X5uRm12NDasZfBif</string>
		<key>password</key>
		<string>FRcKqmn9bt</string>
		<key>website</key>
		<string>http://www.baidu.com</string>
	</dict>
	<dict>
		<key>username</key>
		<string>0BqVvq</string>
		<key>password</key>
		<string>rpIGx9tbpozlzOFE1G3</string>
		<key>website</key>
		<string>https://www.wikipedia.org</string>
	</dict>
</array>
</plist>
